<section id="contactContent">
	<h1>Contact Us</h1>
		<p>We would love to discuss your web-based and graphical needs.</p>
		<p>Please fill out the form below to get started:</p>
<%= form_for(:contact_us, :url => contact_us_url, :html => { :class => 'contact' }) do |f| %>
	<section class="formSection" style="border:none;">
  	<fieldset>
  	<section class="input_block" style="float:left;">
		<%= f.label :name %>
    	<%= f.text_field :name, :size=>"40" %>
  	</section>
  	<section class="input_block" style="float:left;">
	<br />
		<%= f.label :email %>
    	<%= f.text_field :email, :size=>"40" %>
  	</section>
  </fieldset>
  <fieldset>
	<section class="input_block">
		<%= f.label :message %>
    	<%= f.text_area :message, :rows => "7", :cols=>"60"%>
  	</section>
  </fieldset>
	<section class="submit">
  		<%= f.submit 'Submit' %>
	</section>
</section>
<% end %>
</section>