<%- content_for(:fck) do -%>
	<%= javascript_include_tag :ckeditor %>
<%- end -%>

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :event_type %><br />
    <%= f.select(:event_type, ['Event','Announcement','Bulletin']) %><br />
   		<span class="instructions">An Event will appear on the web site 30 days prior to its start date, and fall off after the end date. <br />
	 		An Announcement item will be displayed on its start date, and fall off after the end date.<br />
	A Bulletin will appear at the top of the home page on the start date and fall off after the end date.</span>
  <br />
  <br />
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  <br />
  <br />
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => 60 %>
  <br />
  <br />  
  </div>
  <div class="field">
    <%= f.label :blurb %><br />
    <%= f.text_area :blurb, :rows => 4, :cols => 60 %>
  <br />
  <br />
  </div>
  <div class="field">
    <%= f.label :description %><br />
   	<%= f.cktext_area :description, :toolbar=>'Basic', :width=>'500px', :height=>'200px' %>
  <br />
  <br />
  </div>
  <div class="field">
	<%= f.label :url %><br />
	<%= f.text_field :url, :size => 50 %>
	</div>
  <div class="actions">
    <br /><%= f.submit %>
  </div>
<% end %>
