<% if admin? %>
	<div class="login">
		<%=section_link('Facets',:controller => 'facets', :action => 'index') %>
		<%=section_link('Bios',:controller => 'bios', :action => 'index') %>
		<%=section_link('Resources',:controller => 'resources', :action => 'index') %>
		<%=section_link('Users',:controller => 'users', :action => 'index') %>
		<%= link_to 'Logout', logout_path %>	
		<span><%= current_user.name %> logged in</span>
	</div>
<% end %>
