<div id="boxLeft">
<p id="notice"><%= notice %></p>
<% if @showpic %>
		<%= image_tag @product_cat.catpic.url(:medium) %> <br />
	 <% end %>
<p>
  <b>Cat name:</b>
  <%= @product_cat.cat_name %>
</p>

<p>
  <b>Catpic file name:</b>
  <%= @product_cat.catpic_file_name %>
</p>

<p>
  <b>Catpic file size:</b>
  <%= @product_cat.catpic_file_size %>
</p>

<p>
  <b>Catpic content type:</b>
  <%= @product_cat.catpic_content_type %>
</p>

<p>
  <b>Featured:</b>
  <%= @product_cat.featured %>
</p>

<p>
  <b>Description:</b>
  <%= @product_cat.description %>
</p>

<% if admin? %>
<%= link_to 'Edit', edit_product_cat_path(@product_cat), :class => 'admin'  %> 
<%= link_to 'Back', product_cats_path, :class => 'admin'  %>
<% end %>
</div>